:root{
    --cor-de-fonte-branca: #f1efef;
    --cor-fundo-trailer: #080808;
}

body{
    font-family: 'Hind Siliguri', sans-serif;
    background-image: url('fundo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.cabecalho{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5em;
}

.logohp{
    height: 30px;
}

.link{
    display: flex;
    justify-content: space-between;
}

.lista{
    display: flex;
    align-items: center;
}

.lista-link{
    text-decoration: none;
    margin: 0 1em;
    color: var(--cor-de-fonte-branca);
}

.entrar{
    background-color: #010194;
    padding: 0.3em 0.5em;
    border-radius: 10px;
}

.lista-link:hover{
    color: #ffffff;
}

.lista-lista{
    transition: 0.5s;
}

.lista-lista:hover{
    transform: scale(1.3);
}

.dropdown{
    display: flex;
    justify-content: center;
}

.menu-trailer{
    display: none;
    position: absolute;
    transform: translate(0%, 2.9%);
    background-color: #101010;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
}

.filmes{
    text-decoration: none;
    color: #9b9a9a;
}

.filmes:hover{
    color: var(--cor-de-fonte-branca);
}

.menu-trailer li{
    margin: 0 0 1em;
}

.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.conteudo{
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.4);
    color: #c7c7c7;
    border-radius: 10px;
    transition: 0.3s;
}

.conteudo:hover{
    transform: scale(1.5);
}

.conteudo-paragrafo{
    width: 250px;
    text-align: center;
}

.trailer{
    background-color: var(--cor-fundo-trailer);
}

.bloco{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.paragrafo{
    color: var(--cor-de-fonte-branca);
    width: 440px;
    text-align: center;
}