:root{
    --cor-de-fonte-branca: #f1efef;
    --cor-fundo-trailer: #080808;
    --cor-letra-rodape: #515151;
}

body{
    font-family: 'Hind Siliguri', sans-serif;
    background-image: url('fundo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.cabecalho{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5em;
}

.logohp{
    height: 30px;
}

.link{
    display: flex;
    justify-content: space-between;
}

.lista{
    display: flex;
    align-items: center;
} 

.botao{
    background-color: transparent;
    border: none;
    color: var(--cor-de-fonte-branca);
    font-size: 16px;
    cursor: pointer;
}

.lista-link{
    text-decoration: none;
    margin: 0 1em;
    color: var(--cor-de-fonte-branca);
}

.lista-link:hover{
    color: #ffffff;
}

.entrar{
    background-color: #010194;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    animation: entrar-animation 1s;
}


.lista-lista{
    transition: 0.5s;
}

.lista-lista:hover{
    transform: scale(1.3);
}

.dropdown{
    display: flex;
    justify-content: center;
}

.menu-trailer{
    display: none;
    position: absolute;
    transform: translate(0%, 2.9%);
    background-color: #101010;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
}

.filmes{
    text-decoration: none;
    color: #9b9a9a;
}

.filmes:hover{
    color: var(--cor-de-fonte-branca);
}

.menu-trailer li{
    margin: 0 0 1em;
}

.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.conteudo{
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.4);
    color: #c7c7c7;
    border-radius: 10px;
    transition: 0.3s;
}

.conteudo:hover{
    transform: scale(1.5);
}

@keyframes paragrafo-animation{
    0%{
        transform: translateY(100px);
        color: transparent;
    }
    100%{
        transform: translateY(0px);
    }
}

.conteudo-paragrafo{
    width: 250px;
    text-align: center;
    animation: paragrafo-animation 1.5s;
    animation-delay: 1s;
}

.trailer{
    background-color: var(--cor-fundo-trailer);
    background-image: linear-gradient(#000c22, black);
}

.bloco{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
}

.paragrafo{
    color: var(--cor-de-fonte-branca);
    width: 440px;
    text-align: center;
    line-height: 2em;
}

.rodape{
    background-color: #b7b7b7;
    height: 150px;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
}

.final{
    width: 30%;
    text-align: center;
}

.rodape-titulo{
    color: #000000;
    margin-bottom: 1em;
}

.rodape-conteudo{
    color: var(--cor-letra-rodape);
    font-size: 14px;
}

.redes{
    color: var(--cor-letra-rodape);
    text-transform: capitalize;
    text-decoration: none;
}

.redes:hover{
    color: #000000;
}